{
  "presets": [
    "env",
    "es2015",
    "react",
    "react-hmre"
  ],
  "plugins": [
    "transform-runtime",
    "transform-function-bind",
    "transform-class-properties",
    "react-hot-loader/babel"
  ]
}
