.logo {
    padding-top: 10vh;
    height: 15vh;
}

.header {

}

.subheader {

}

.loader {
    height: 20vh;
    width: 20vh;
    background-image: url('../../../images/loader.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
}