.logoWrapper {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 3vh;
    border-radius: 50%;
}

.logo {
    height: 9vh;
    border-radius: 50%;
    box-shadow: 0 0 11vh -0.3vh white;
}

.settingsWrapper {
    display: flex;
    align-items: center;
}

.settings {
    height: 10vh;
    margin: 2vh;
    padding-right: 10vw;
}

.name {
    color: lightgray;
    font-family: NeutraText, serif;
    font-size: x-large;
    margin: 1vh;
}

.name:hover {
    color: white;
}

.slideHeader {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
}