.logoWrapper {
    width: 25vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    height: 9vh;
    margin-right: 5vw;
    border-radius: 50%;
    box-shadow: 0 0 10vh -1vh white;
}

.menu {
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu > a {
    margin: 1em;
    color: #b2b2b2;
    text-decoration: none;
    font-family: NeutraText, serif;
}

.menu > a:hover {
    color: white
}

.logOnWrapper {
    width: 25vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logOn {
    width: 50%;
}

.slideHeader {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
}