.slideHeader {
    background-image: url("../../../images/nflogo.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: 200;
}

.slideHeader > a {
    margin: 0.5em;
    color: white;
    cursor: pointer;
}

.slideContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide {
    height: 100%;
}