.slideHeader {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.slideHeader > a {
    margin: 1em;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-family: Adam, serif;
    font-size: x-small;
}

.slideContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 80vh;
}

.slide {
    height: 100%;
}

.logo {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    height: 10vh;
    top: 5vh;
    border-radius: 50%;
    box-shadow: 0 0 10vh -1vh white;
}