.slideFooter {
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    border-top: solid rgba(255, 255, 255, 0.4);
    padding-left: 25vw;
}

.slideFooter > * {
    color: #b2b2b2;
    margin: 1em;
    text-decoration: none;
    font-family: NeutraText, serif;
}

.slideFooter > *:hover {
    color: white;
}