.balance {
    display: flex;
    justify-content: space-between;
    height: 8.5vh;
    width: 20vw;
    align-items: center;
}

.balance > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.balance > div > span {
    line-height: 5vh;
    font-family: Suissnord, serif;
}
