@font-face {
    font-family: NeutraText;
    src: url("../fonts/NeutraText-BookAlt.ttf") format('truetype');
}

@font-face {
    font-family: Adam;
    src: url("../fonts/Adam.otf") format('opentype');
}

@font-face {
    font-family: Suissnord;
    src: url("../fonts/Suissnord.otf") format('opentype');
}

body {
    font-family: NeutraText;
    margin: 0;
    padding: 1em;
    overflow: hidden;
}
